<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <a id="cover-form-2" class="in-page-link"></a>
            <section class="cover imagebg text-center height-60" data-overlay="5">
                <div class="background-image-holder"><img alt="background" src="img/earth.jpg"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Best weekly property opportunities</h1>
                            <p class="lead">Get hand selected investment properties across Australia, every week.<br>These properties are based on specific criteria designed to grow your portfolio.</p>
                            <div class="boxed boxed--lg bg--white text-left --horizontal">
                                
                                <%= form_for @user, :url => { :action => "create" } do |f| %>
                                <%= f.text_field :email, :placeholder => "Enter Email", :class => "col-sm-8" %>
                                <div class="col-sm-4"> <button type="submit" class="btn btn--primary type--uppercase">STEP INSIDE</button> </div> <% end %>  
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h2><b>Previous Opportunities</b></h2>
                            <p class="lead"> Our team is dedicated to hand picking opportunities. These opportunities are based on their market value, equity upon completion, rental yield and cash flow potential.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="masonry">
                            <div class="masonry__container masonry--active">
                                <div class="col-sm-4 masonry__item">
                                    <div class="card card-2 text-center">
                                        <div class="card__top">
                                            <a href="#"> <img alt="Image" src="img/woombye.jpg"> </a>
                                        </div>
                                        <div class="card__body">
                                            <h4>Cash Flow Positive Duplex</h4> <span class="type--fade">Woombye, Sunshine Coast QLD</span>
                                            <p>Get up to $5200 in cash flow per year with this beautiful property in Woombye. The new CBD is less than 15 minutes away, with huge potential for capital gains!</p>
                                        </div>
                                        <div class="card__bottom text-center">
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>&nbsp;6 BED</p></span>
                                                
                                            </div>
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>4 Bath</p></span>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <div class="card card-2 text-center">
                                        <div class="card__top">
                                            <a href="#"> <img alt="Image" src="img/newcastle.jpg"> </a>
                                        </div>
                                        <div class="card__body">
                                            <h4>Fantastic Duplex 110k equity</h4> <span class="type--fade">Newcastle, NSW</span>
                                            <p> Fantastic opportunity to buy just outside of newcastle, one of the fastest growing suburbs in Australia. This has been valued at $110,000 more once completed.</p>
                                        </div>
                                        <div class="card__bottom text-center">
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>6 Bed</p></span>
                                               
                                            </div>
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>4 Bath</p></span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 masonry__item">
                                    <div class="card card-2 text-center">
                                        <div class="card__top"> <span class="label">New</span>
                                            <a href="#"> <img alt="Image" src="img/growth-ripley-qld.jpg"> </a>
                                        </div>
                                        <div class="card__body">
                                            <h4>&nbsp;8% Growth PA</h4> <span class="type--fade">Ripley, Brisbane</span>
                                            <p>Perfect for first home buyers! 3 bed, 2 bath townhouse. Perfect for a first home buyer. One of the highest growth areas in Australia. Priced at $329,000.</p>
                                        </div>
                                        <div class="card__bottom text-center">
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>3 Bed</p></span>
                                               
                                            </div>
                                            <div class="card__action"> <span class="h6 type--uppercase"><p>2 Bath</p></span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/search.jpg"> </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Finding great property deals, made <b>Simple</b>.</h2>
                                <p class="lead"> Just because an investment property is conveniently nearby, doesn't mean it's right. We believe investing in property is one of the greatest creators of long term wealth. This email provides you with the very best non-biased opportunities we find.</p>
                                <a href="#"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h2><b>About REIF</b></h2>
                            <p class="lead"> We believe that the right finance is the foundation to a successful investment property. We provide non-biased finance that's geared towards giving you the best opportunities in both the short term and long.<br><br>We get negotiate the best deals with multiple lenders<br><u style="font-weight: bold;">We work for you,</u> not the banks.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="unpad--bottom switchable cta cta-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-7">
                            <div class="switchable__text">
                                <h2>Experience<b> the best</b></h2>
                                <p class="lead"> We trust that this weekly email will support you in your journey, by showing you the opportunities that are currently in the market. We hope you'd consider working with us when you're ready to arrange finance on any property you choose"<br><br>David Chehade, <i>Managing Director</i></p>
                                <a class="btn btn--primary type--uppercase inner-link" href="#top" target="_self"> <span class="btn__text">
                            Get Your Weekly Email</span><br></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5"> <img alt="Image" class="block" src="img/dc-3.png"> </div>
                    </div>
                </div>
            </section>
            <section class="text-center space--md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-10">
                            <div class="slider" data-paging="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial">
                                            <blockquote> Not only did they provide a great home loan, but they also guided us in the right areas to invest and start searching.<br></blockquote>
                                            <h5>Rob and Clare<br></h5> <span>Melbourne</span> </div>
                                    </li>
                                    <li>
                                        <div class="testimonial">
                                            <blockquote> "Renee and David are awesome! It was a wonderful experience to know such great agents. Especially for our first financial Endeavor in Australia"</blockquote>
                                            <h5>Robert S</h5> <span>Melbourne</span> </div>
                                    </li>
                                    <li>
                                        <div class="testimonial">
                                            <blockquote>"Through re-financing we have achieved much lower interest rates on our loans and are now saving approx. $5500 a year in interest"</blockquote>
                                            <h5>James F</h5> <span>Brisbane, QLD</span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-3 text-center-xs space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <img alt="Image" class="logo" src="img/reiflogob.png">
                            <ul class="list-inline list--hover">
                                <li> <a href="#"><span class="type--fine-print"> </span></a> </li>
                                <li> <a href="#"><span class="type--fine-print"> </span></a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">Credit Representative - REIF Finance Pty Ltd (CRN 450803) of National Mortgage Brokers Pty Ltd<br>Australian Credit Licence: 391209&nbsp;Real Estate Licence – REIF Real Estate Pty Ltd – Licence No. 4048198<br></p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs"> <span class="type--fine-print"> </span> <a class="type--fine-print" href="#">©2018 Real Estate Investment Finance Group Pty. Ltd. | ABN 85 613 048 258 </a>
                            <a class="type--fine-print" href="#"> </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>

    </body>

</html>